albumentations
asttokens
autopep8
backcall
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
einops
executing
fonttools
idna
imageio
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
networkx
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
opencv-python
opencv-python-headless
packaging
pandas
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pycodestyle
Pygments
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
qudida
requests
scikit-image
scikit-learn
scipy
six
stack-data
threadpoolctl
tifffile
tomli
torch
torchsummary
torchvision
tornado
tqdm
traitlets
typing_extensions
urllib3
wcwidth
